<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">
      <img src="/images/site/icon.png" alt="logo" />
    </a>
  </span>
  <div>
    <a title="Click to log in" href="/account/login">My account</a>
  </div>
</header>
